<!DOCTYPE html>
<html>
    <head>
        <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h2>Ebay Rookie Cards</h2>
            <table class="table">
                <thead>
                    {{#headers}}
                    <th>{{.}}</th>
                    {{/headers}}
                </thead>
                <tbody>
                    {{#players}}
                    <tr>
                        {{#data}}
                        <td>{{.}}</td>
                        {{/data}}
                    </tr>
                    {{/players}}
                </tbody>
            </table>
        </div>
    </body>
</html>